legend{
  font-weight: bold;
}
p{
  font-weight: bold;
}
body{
  text-align: center;
  font-style: Arial,Helvetica,sans-serif;
  background-color: rgb(40, 190, 190);
}
h1{
  font-style: Georgia,serif;
  text-align: center;
}
fieldset{
  text-align: center;
}
